extends layout

block pageContent
	div.header
		h1= title
	-if(errors)
		p= message
		ul
			each error in errors
				li= error.msg
	div.col-sm-8
		form.form-horizontal(name="addcontact", method="post", action="/addcontact")
			div.form-group
				label.col-sm-2 First Name
				div.col-sm-10
					input.form-control(type="text", name="fname")
			div.form-group
				label.col-sm-2 Last Name
				div.col-sm-10
					input.form-control(type="text", name="lname")
			div.form-group
				label.col-sm-2 Title
				div.col-sm-10
					input.form-control(type="text", name="title")
			div.form-group
				label.col-sm-2 Company
				div.col-sm-10
					input.form-control(type="text", name="company")
			div.form-group
				label.col-sm-2 Email
				div.col-sm-10
					input.form-control(type="text", name="email")
			div.form-group
				label.col-sm-2 Where Met
				div.col-sm-10
					input.form-control(type="text", name="wheremet")
			div.form-group
				label.col-sm-2 Date Met
				div.col-sm-10
					input.form-control(type="text", name="datemet")
			div.form-group
				label.col-sm-2 Comments
				div.col-sm-10
					textarea.form-control(name="comments", cols="21", rows="5")
			div.actions
				input.btn.btn-default(type="submit", value="Add Contact")